@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<svg id="wave" style="transform:rotate(0deg);
transition: 0.3s" viewBox="0 0 1440 270"
version="1.1" xmlns="http://www.w3.org/2000/svg"><defs>
    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
        <stop stop-color="rgba(38, 244, 255, 1)" offset="0%"></stop>
        <stop stop-color="rgba(0, 255, 172.928, 1)" offset="100%"></stop>
        </linearGradient></defs><path style="transform:translate(0, 0px); o
pacity:1" fill="url(#sw-gradient-0)" d="M0,135L24,121.5C48,108,96,81,144,76.5C192,72
,240,90,288,81C336,72,384,36,432,54C480,72,528,144,576,180C624,216,672,216,720,198C768,180,816,
144,864,139.5C912,135,960,162,1008,184.5C1056,207,1104,225,1152,225C1200,225,1248,207,1296,171C1344,
135,1392,81,1440,54C1488,27,1536,27,1584,27C1632,27,1680,27,1728,40.5C1776,54,1824,81,1872,112.5C1920,
144,1968,180,2016,193.5C2064,207,2112,198,2160,180C2208,162,2256,135,2304,117C2352,99,2400,90,2448,
112.5C2496,135,2544,189,2592,180C2640,171,2688,99,2736,58.5C2784,18,2832,9,2880,36C2928,63,2976,126,
3024,162C3072,198,3120,207,3168,189C3216,171,3264,126,3312,99C3360,72,3408,63,3432,58.5L3456,54L3456,
270L3432,270C3408,270,3360,270,3312,270C3264,270,3216,270,3168,270C3120,270,3072,270,3024,270C2976,
270,2928,270,2880,270C2832,270,2784,270,2736,270C2688,270,2640,270,2592,270C2544,270,2496,270,2448,
270C2400,270,2352,270,2304,270C2256,270,2208,270,2160,270C2112,270,2064,270,2016,270C1968,270,1920,270,
1872,270C1824,270,1776,270,1728,270C1680,270,1632,270,1584,270C1536,270,1488,270,1440,270C1392,270,
1344,270,1296,270C1248,270,1200,270,1152,270C1104,270,1056,270,1008,270C960,270,912,270,864,270C816,
270,768,270,720,270C672,270,624,270,576,270C528,270,480,270,432,270C384,270,336,270,288,270C240,270,
192,270,144,270C96,270,48,270,24,270L0,270Z"></path>
</svg>

<div class="bg-curve">
    <p>At Ocset, we take your privacy seriously and are committed to 
        safeguarding your personal information. When you use our online market platform,
        we may collect certain data to enhance your shopping experience and provide you 
        with personalized services. This data may include information such as your name,
        contact details, and purchase history. Rest assured that we prioritize the 
        security and confidentiality of your information. We do not share, sell, 
        or disclose your personal details to third parties without your explicit consent,
        except as required by law. Our privacy practices comply with applicable data protection
        laws, and we continuously strive to implement robust security measures to protect 
        your data. By using Ocset, you agree to the terms outlined in this privacy policy.
        If you have any questions or concerns about how we handle your information, please contact us.
    </p>
</div>

<svg id="wave2" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(38, 244, 255, 1)" offset="0%"></stop><stop stop-color="rgba(0, 255, 172.928, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,65L13.3,58.5C26.7,52,53,39,80,36.8C106.7,35,133,43,160,39C186.7,35,213,17,240,26C266.7,35,293,69,320,86.7C346.7,104,373,104,400,95.3C426.7,87,453,69,480,67.2C506.7,65,533,78,560,88.8C586.7,100,613,108,640,108.3C666.7,108,693,100,720,82.3C746.7,65,773,39,800,26C826.7,13,853,13,880,13C906.7,13,933,13,960,19.5C986.7,26,1013,39,1040,54.2C1066.7,69,1093,87,1120,93.2C1146.7,100,1173,95,1200,86.7C1226.7,78,1253,65,1280,56.3C1306.7,48,1333,43,1360,54.2C1386.7,65,1413,91,1440,86.7C1466.7,82,1493,48,1520,28.2C1546.7,9,1573,4,1600,17.3C1626.7,30,1653,61,1680,78C1706.7,95,1733,100,1760,91C1786.7,82,1813,61,1840,47.7C1866.7,35,1893,30,1907,28.2L1920,26L1920,130L1906.7,130C1893.3,130,1867,130,1840,130C1813.3,130,1787,130,1760,130C1733.3,130,1707,130,1680,130C1653.3,130,1627,130,1600,130C1573.3,130,1547,130,1520,130C1493.3,130,1467,130,1440,130C1413.3,130,1387,130,1360,130C1333.3,130,1307,130,1280,130C1253.3,130,1227,130,1200,130C1173.3,130,1147,130,1120,130C1093.3,130,1067,130,1040,130C1013.3,130,987,130,960,130C933.3,130,907,130,880,130C853.3,130,827,130,800,130C773.3,130,747,130,720,130C693.3,130,667,130,640,130C613.3,130,587,130,560,130C533.3,130,507,130,480,130C453.3,130,427,130,400,130C373.3,130,347,130,320,130C293.3,130,267,130,240,130C213.3,130,187,130,160,130C133.3,130,107,130,80,130C53.3,130,27,130,13,130L0,130Z"></path></svg>
