@model IEnumerable<Jeremiah_SupermarketOnline.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<main class="center-div bg-orders">
    <div class="card-div">
        <h1>Cart</h1>
        <form asp-action="CreateMultiple">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr>
                        <td>2</td>
                        <td>coil</td>
                        <td>13</td>
                        <td><button class="btn btn-danger">remove button</button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="placeOrder()">Place Order</button>
        </form>
    </div>
</main>

<script>
    displayCart();
</script>