@model Jeremiah_SupermarketOnline.Models.Recipe

@{
    ViewData["Title"] = "Recipe";
}

<main class="center-div bg-orders">
    <div class="card-div">
        <h1>@Html.DisplayFor(modelItem => Model.strMeal)</h1>
    </<div>
</main>