@model Jeremiah_SupermarketOnline.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<main class="center-div bg-login">
    <div class="card-div">
        <h1>Login</h1>
        <form asp-action="Login">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                    <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                    </div>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
           
        </form>
        <div >
            <a asp-controller="Customers" asp-action="GoogleLogin">Login with Google</a>
            <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=9439fa1f-6483-4598-b1c6-825d53d284be&response_type=code&redirect_uri=https://localhost:7124/Customers/MicrosoftLogin&response_mode=query&scope=offline_access%20user.read%20mail.read&state=12345">microsoft login</a>
        </div>
    </div>
</main>



